body{
	background-color:#00004d !important
	font-color:white !important;
}
panel{
		background-color:#00004d !important
	
}
div.row
{
	margin-top : 10px;
}

.details .list-group-item
{
	border:none;
}
.search .row{
	margin:0 !important;
}